[Unit]
Description="server for CC HCP status"
After=network.target

[Service]
User=lewww
Group=lewww
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
ExecStart=/home/centos/cc_stat_server/venv/bin/gunicorn  --reload --bind 127.0.0.1:8000 --access-logfile /var/log/cc_stat_server/gunicorn-acces.log --error-logfile /var/log/cc_stat_server/gunicorn-error.log app:app


ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
